@media screen and (max-width: 1600px) {
    .photo-leaders .item img  {
        width: 400px;
        height: 500px;
    }
    .photo-leaders .item  {
        margin-left: 30px;
        margin-right: 30px;
    }
    .team-leaders .qwestion {
        font-size: 26px;
    }
    h1 {
        font-size: 50px;
        padding-left: 918px;
    }
    .team-leaders h2 {
        margin-top: 140px;
        font-size: 56px;
    }
    .team-leaders h2:after {
        margin-left: 458px;
    }
    .rating {
        margin-top: 160px;
    }
    .river {
        height: 700px;
    }
    .contact-us h2 {
        font-size: 60px;
        padding-top: 150px;
    }
    .contact-us {
        height: 1230px;
    }
    .lisa {
        margin-top: 111px;
        height: 400px;
    }
    .about-us {
        margin-top: 150px;
        width: 610px;
        height: 325px;
    }
    .about-us h2 {
        font-size: 35px;
        margin-top: 40px;
    }
    .error {
        font-size: 14px;
        margin-top: 15px;
    }
    .about-us img {
        width: 90px;
        height: 90px;
        margin: 24px 53px 0px;
    }
    .komment p {
        font-size: 16px;
        line-height: 30px;
        height: 30px;
        margin-top: 17px;
        border: 1px solid black;
    }
    .team {
        width: 150px;
    }
    .involved {
        width: 130px;
    }
    .assistance {
        width: 159px;
    }
    .komment p::before {
        content: "";
        height: 18px;
        width: 1px;
    }
    .team::before {
        left: 78px;
        bottom: 31px;
    }
    .involved::before {
        left: 66px;
        bottom: 30px;
    }
    .assistance::before {
        left: 78px;
        bottom: 31px;
    }
    h3 {
        margin-top: 177px;
        font-size: 60px;
    }
    .gallery {
        font-size: 28px;
        letter-spacing: 3px;
    }
    .images-container img {
        width: 20%;
        height: 665px;
    }
    .footer-top {
        font-size: 16px;
    }
    .text1 {
        margin-left: 77px;
    }
    .text2, .text3, .text4 {
        margin-left: 148px;
        padding-top: 67px;
    }
    .inf {
        margin-top: 78px;
        margin-left: 50px;
        font-size: 13px;
    }
    footer p {
        font-size: 18px;
        padding-left: 60px;
    }
    .img-container {
        margin-left: 304px;
    }
}