body, p{
    font-family: Arial;
    margin: 0;
}
.container {
    width: 620px;
    border-top: 2px solid #a70532;
}
.logo, .melanoma {
    display: flex;
    margin: 30px auto 0 auto;
}
header {
    height: 242px;
    border-bottom: 2px solid #f7921d;
}
.melanoma {
    margin-top: 64px;
}
.eucerin  {
    width: 332px;
    margin-top: 51px;
    margin-left: 66px;
    font-size: 12px;
}
.eucerin b {
    font-size: 14px;
}
.invite {
    margin-top: 13px;
    font-weight: 600;
}
.red-text {
    color: #a70532;
}
.news {
    margin-top: 18px;
}
.yellow-text {
    color: #f7921d;
}
.eucerin .yellow-text {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 600;
}
.eucerin ul {
    font-size: 10px;
    padding-left: 12px;
    position: relative;
}
.eucerin li:before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 12px;
    left: 0;
    background-color:#f7921d;
}
.eucerin ul li {
    margin-top: 10px;
    list-style-type: none;
}
.doctor {
    display: flex;
}
.medicament {
    margin-top: 34px;
    margin-left: 12px;
}
.doctor-name {
    font-weight: 600;
} 